<header>
<nav>
<ul class="hmenu">
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
  </li>
  <li>
  <%= link_to('Edit account', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %>
Static pages:
	<li>
  	<%= link_to('User Profile', profile_path) %>
  </li>
  <li>
  	<%= link_to('Dashboard', dashboard_path) %>
  </li>
  <li>
  	<%= link_to('Add App', add_path) %>
  </li>
  <li>
  	<%= link_to('Purchases', purchases_path) %>
  </li>
  <li>
  	<%= link_to('Thank you', thankyou_path) %>
  </li>
  <li>
  	<%= link_to('Error', error_path) %>
  </li>
  <li>
  	<%= link_to('Paypal', paypal_path) %>
  </li>
  <li>
  	<%= link_to('Purchase order', purchaseorder_path) %>
  </li>
  <li>
  	<%= link_to('PO screen', posubmit_path) %>
  </li>
  <li>
  	<%= link_to('Settings', settings_path) %>
  </li>
  <li>
  	<%= link_to('Buy it link', buyitlink_path) %>
  </li>
</ul>
</nav>
</header>
